<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보 - 춤추는 고래</title>

    <link th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/general.css}" href="../static/css/general.css" rel="stylesheet">
    <link th:href="@{/css/member-forms.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/general.js}"></script>
    <script src="https://kit.fontawesome.com/c2e67fd6d1.js" crossorigin="anonymous"></script>

</head>
<body>
<div th:replace ="~{fragment/writingModal :: modal}"></div>

<div th:replace ="~{fragment/header :: header}"></div>
<main class="form-signin d-flex justify-content-center mt-5">
    <div th:object="${profile}">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">내 정보</h5>
                <p class="card-text fw-bold mb-1" th:text="${profile.email}"></p>
                <div>
                    <small class="card-text text-muted" th:text="|${profile.name} / |"></small>
                    <small class="card-text text-muted" th:text="${profile.nickName}"></small>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" th:href="@{/member/{memberId}/edit(memberId=${profile.id})}">
                    프로필 수정
                </a>
                <a class="list-group-item list-group-item-action" th:href="@{/member/{memberId}/password/edit(memberId=${profile.id})}">
                    비밀번호 변경
                </a>
                <li class="list-group-item list-group-item-action">회원 탈퇴</li>
                <li class="list-group-item list-group-item-action">내가 쓴 글</li>
            </ul>
        </div>
    </div>

</main>
</body>
</html>