<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 - 춤추는 고래</title>

    <link th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/member-forms.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>

    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
    </style>
</head>
<body>

<main class="form-signin">
    <form th:action th:object="${member}" method="post">
        <div style="height: 80px; width: 100%">
            <h1 class="h3 mb-3 fw-normal text-center" onclick="location.href='/login'"
                th:text="#{logo}" style="cursor: pointer;"></h1>
        </div>

        <div class="mb-4">
            <div>
                <label for="email"  th:text="#{member.email}">이메일</label>
                <input type="text" th:field="*{email}" class="form-control" id="email">
                <div class="field-error" th:errors="*{email}">
                    이메일 오류
                </div>
            </div>

            <div>
                <label for="name" th:text="#{member.name}">성명</label>
                <input type="text" th:field="*{name}" class="form-control" id="name">
                <div class="field-error" th:errors="*{name}">
                    성명 오류
                </div>
            </div>

            <div>
                <label for="nickName" th:text="#{member.nickName}">사용자 이름</label>
                <input type="text" th:field="*{nickName}" class="form-control" id="nickName">
                <div class="field-error" th:errors="*{nickName}">
                    사용자 이름 오류
                </div>
            </div>

            <div>
                <label for="password" th:text="#{member.password}">비밀번호</label>
                <input type="password" th:field="*{password}" class="form-control" id="password">
                <div class="field-error" th:errors="*{password}">
                    비밀번호 오류
                </div>
            </div>
        </div>
            <button class="w-100 btn btn-lg" type="submit" th:text="#{member.signup.btn}">가입하기</button>
    </form>
</main>

</body>
</html>