<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <div class="container">
            <div>
                <a class="navbar-brand" th:href="@{'/'}">가지가지한다</a>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fas fa-pen-nib"></i></button>
                <form th:action="@{/logout}" method="post">
                    <button><i class="fas fa-sign-out-alt"></i></button>
                </form>
            </div>
        </div>


    </nav>
</body>
</html>