<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>춤추는 고래</title>

    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/general.css}" href="../static/css/general.css" rel="stylesheet">
    <link th:href="@{/css/slick.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script src="https://kit.fontawesome.com/c2e67fd6d1.js" crossorigin="anonymous"></script>
    <script src="\webjars\jquery\3.5.1\dist\jquery.js"></script>
    <script type="text/javascript" th:src="@{/js/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/general.js}"></script>
    <script type="text/javascript" th:src="@{/js/slick.js}"></script>

</head>
<body>

<div th:replace ="~{fragment/header :: header}"></div>
<div th:replace ="~{fragment/writingModal :: modal}"></div>

    <div class="container">
        <!-- 본문 카드 -->
        <div th:if="${cards.isEmpty()}">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">아무도 글을 등록하지 않았어요</h5>
                    <p class="card-text">저에게 여러분의 하루를 알려주세요!</p>
                    <a class="text-decoration-underline" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="new"
                       style="cursor: pointer;">글 등록하러 가기</a>
                </div>
            </div>
        </div>

        <div class="card mb-4" th:unless ="${cards.isEmpty()}" th:each="card : ${cards.content}" >
            <input type="hidden" name="postId" th:value="${card.postId}">
            <div class="card-header d-flex justify-content-between align-items-center"
                 th:with="username=${#authentication.name}">
                <span th:text="${card.nickName}"></span>
                <div th:if="${#strings.equals(card.email, username)}">
                    <i class="fas fa-edit"
                       id="editFormOpenBtn" th:onclick="|javascript:openEditForm('${card.postId}')|"
                       data-bs-whatever="edit"></i>

                    <i class="fas fa-trash-alt"
                       th:postId="${card.postId}"
                       th:email="${card.email}"
                       th:onclick="|requestPostDelete(this.getAttribute('postId'), this.getAttribute('email'))|"></i>

<!--                    <a th:href="@{/post/{postId}/delete(postId=${card.postId})}"-->
<!--                       onclick="return confirm('삭제하시겠습니까?')">-->
<!--                        <i class="fas fa-trash-alt"></i>-->
<!--                    </a>-->
                </div>
            </div>

            <section class="visual" th:if="${!card.getPostImgDtoList().isEmpty()}">
                <div class="visual-container" th:each="postImgDto : ${card.getPostImgDtoList()}">
                    <img th:src="@{${postImgDto.imgUrl}}" th:alt="${postImgDto.getImgName()}">
                </div>
            </section>

            <div class="card-body pt-1">
                <p class="card-text" th:utext="${#strings.replace(card.description, nlString, '&lt;br /&gt;')}"></p>
            </div>

            <div class="card-footer text-center px-0 py-2">
                <i class="far fa-heart"
                   th:onclick="|javascript:sendNewLikesRequest('${card.postId}')|"></i>
            </div>
        </div>
        <div class="mt-3">
            <ul class="pagination justify-content-between">
                <li class="page-item" th:classappend="${cards.first} ? 'disabled'">
                    <a class="page-link" th:onclick="'javascript:page(' + ${cards.number - 1} + ')'">이전</a>
                </li>

                <li class="page-item" th:classappend="${cards.last} ? 'disabled'">
                    <a class="page-link" th:onclick="'javascript:page(' + ${cards.number + 1} + ')'">다음</a>
                </li>
            </ul>
        </div>
    </div>




</body>
<script>
    $('.visual').slick();

    function page(page){
        location.href="/?page=" + page;
    }

    function formEmptyCheck(){
        //공백이면 알림창 띄우고 종료
        if($('#message-text').val().trim() === ''){
            alert("아무것도 입력되지 않았습니다.");
            return;
        }
        $('#modal-form').submit();
    }

    function requestPostDelete(postId, email) {

        if (confirm("삭제하시겠습니까?")) {
            fetch('/post/delete', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    'postId': postId,
                    'email': email
                })
            })
                .then(res => res.json())
                .then(data => {
                    alert(data);
                    window.location.reload();
                })
        }
    }

    function openEditForm(postId) {
        var exampleModal = document.getElementById('exampleModal');
        var modal = bootstrap.Modal.getOrCreateInstance(exampleModal);
        fetch('/post/'+ postId +'/edit')
            .then((res) => res.json())
            .then((data) => {
                    console.log(data);
                    $('#message-text').val(data.description);
                    $('#userEmail').val(data.email);
                    $("input:checkbox[id='onlyMe']").prop("checked", data.onlyMe);
                    if (data.postImgDtoList.length !== 0) {
                        data.postImgDtoList.forEach(function (postImgDto) {
                            // div에 이미지추가.
                            var str = '<li class="ui-state-default">';
                            str += '<img src="'+postImgDto.imgUrl +'" alt="'+ postImgDto.imgName +'" width=80 height=80>';
                            str += '<span class="delBtn" onclick="delImg(this)">x</span>';
                            str += '</li>';
                            $(str).appendTo('#imgPreview');
                        });
                    }
                }
            );
        var editBtn  = document.getElementById('editFormOpenBtn');
        modal.show(editBtn);
    }


</script>
</html>




