<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>춤추는 고래</title>

    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/general.css}" href="../static/css/general.css" rel="stylesheet">
    <link th:href="@{/css/slick.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script src="https://kit.fontawesome.com/c2e67fd6d1.js" crossorigin="anonymous"></script>
    <script src="\webjars\jquery\3.5.1\dist\jquery.js"></script>
    <script type="text/javascript" th:src="@{/js/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/general.js}"></script>
    <script type="text/javascript" th:src="@{/js/slick.js}"></script>

</head>
<body>

<div th:replace ="~{fragment/header :: header}"></div>
<div th:replace ="~{fragment/writingModal :: modal}"></div>

    <div class="container">
        <!-- 본문 카드 -->
        <div th:if="${cards.size()==0}">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">아무도 글을 등록하지 않았어요</h5>
                    <p class="card-text">저에게 여러분의 하루를 알려주세요!</p>
                    <a class="text-decoration-underline" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="new"
                       style="cursor: pointer;">글 등록하러 가기</a>
                </div>
            </div>
        </div>

        <div class="card mb-4" th:unless ="${cards.size()==0}" th:each="card : ${cards}" >
            <input type="hidden" name="postId" th:value="${card.postId}">
            <div class="card-header d-flex justify-content-between align-items-center"
                 th:with="username=${#authentication.name}">
                <span th:text="${card.nickName}"></span>
                <div th:if="${#strings.equals(card.email, username)}">
                    <i class="fas fa-edit"
                       id="editFormOpenBtn" th:onclick="|javascript:openEditForm('${card.postId}')|"
                       data-bs-whatever="edit"></i>
                    <a th:href="@{/post/{postId}/delete(postId=${card.postId})}"
                       onclick="return confirm('삭제하시겠습니까?')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>

            <section class="visual" th:if="${!card.getPostImgDtoList().isEmpty()}">
                <div class="visual-container" th:each="postImgDto : ${card.getPostImgDtoList()}">
                    <img th:src="@{${postImgDto.imgUrl}}" th:alt="${postImgDto.getImgName()}">
                </div>
            </section>

            <div class="card-body pt-1">
                <p class="card-text" th:utext="${#strings.replace(card.description
                ,nlString, '&lt;br /&gt;')}"></p>
            </div>

            <div class="card-footer text-center px-0 py-2">
                <i class="far fa-heart"
                   th:onclick="|javascript:sendNewLikesRequest('${card.postId}')|"></i>
            </div>
        </div>


    </div>
</body>
<script>
    $(window).on("load", function () {
        $('.card-text').val().replace(/\n/g, "<br>");
    });


    $('.visual').slick();

    function formEmptyCheck(){
        //공백이면 알림창 띄우고 종료
        if($('#message-text').val().trim() === ''){
            alert("아무것도 입력되지 않았습니다.");
            return;
        }

        $('#modal-form').submit();
    }

    function openEditForm(postId) {
        var exampleModal = document.getElementById('exampleModal');
        var modal = bootstrap.Modal.getOrCreateInstance(exampleModal);
        fetch('/post/'+ postId +'/edit')
            .then((res) => res.json())
            .then((data) => {
                    console.log(data);
                    $('#message-text').val(data.description);
                    if (data.postImgDtoList.length !== 0) {
                        data.postImgDtoList.forEach(function (postImgDto) {
                            // div에 이미지추가.
                            var str = '<li class="ui-state-default">';
                            str += '<img src="'+postImgDto.imgUrl +'" alt="'+ postImgDto.imgName +'" width=80 height=80>';
                            str += '<span class="delBtn" onclick="delImg(this)">x</span>';
                            str += '</li>';
                            $(str).appendTo('#imgPreview');
                        });
                    }
                }
            );
        var editBtn  = document.getElementById('editFormOpenBtn');
        modal.show(editBtn);
    }


</script>
</html>




