<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>로그인 - 춤추는 고래</title>

    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>

</head>
<body class="text-center">

<main class="form-signin">
    <form method="post" th:action="@{/login}">
        <h1 class="h3 mb-3 fw-normal" th:text="#{logo}"></h1>

        <div class="form-floating">
            <input type="text" class="form-control form-control-sm" name="email"
                   id="floatingInput" placeholder="이메일"
                   th:value="${#request.getAttribute('email')}">
            <label for="floatingInput" th:text="#{member.email}">이메일</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control form-control-sm" name="password"
                   id="floatingPassword" placeholder="비밀번호">
            <label for="floatingPassword" th:text="#{member.password}">비밀번호</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me"> 로그인 상태 유지
            </label>
        </div>
        <div th:if="${#request.getAttribute('errorMsg')}">
            <p class="field-error" th:text="${#request.getAttribute('errorMsg')}">에러</p>
        </div>
        <button class="w-100 btn btn-lg" type="submit" th:text="#{member.signin.btn}">로그인</button>

        <div class="d-flex justify-content-between mt-3">
            <a class="text-muted" th:href="@{/member/new}" th:text="#{member.signup}">회원가입</a>
            <a class="text-muted" href="#">비밀번호 찾기</a>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</main>
</body>
<script th:inline="javascript">
    var signupMsg = [[${signupResult}]];
    if (signupMsg !== null) {
        alert(signupMsg);
    }
</script>
</html>